a(name="footer")
footer 
    h2 Підписатися
    p Будь у курсі останніх новин та отримай знижку за підписку
    form(action="") 
        input(type="email" id="email" name="email" placeholder="E-mail")
        button(type="submit") Підписатися
    article.article_footer
        div.logo_text
            div.logo
                a(href='#') 
                    span Квіти 
                    span від 
                    span Нати
            p Найкращі квіти лише в нас. 
            p Подаруй близьким свято. 
        nav.footer_menu
            h3 Послуги
            a(href="#header") Про нас
            a(href="#main") Купити готовий букет
            a(href="#new_flowers") Створити власний букет
            a(href="#footer") Контакти
        div.address
            h3 Контакти
            p nata@gmail.com
            p +380992222222
            p Київ, вул. Хрещатик 25
        nav.footer_menu
            h3 Соціальні мережі
            a(href="facebook.com") Facebook
            a(href="twitter.com") Twitter
            a(href="instagram.com") Instagram
            a(href="Linkedin.com") Linkedin

