header
    div.header_logo_menu
        div.logo
            a(href='#') 
                span Квіти 
                span від 
                span Нати
        nav.main-menu 
            a(href="#") Про нас
            a(href="#") Купити готовий букет
            a(href="#") Створити власний букет
            a(href="#") Контакти
            a(href="#") <i class="fa fa-search" aria-hidden="true"></i>
            a(href="#") <i class="fa fa-shopping-bag" aria-hidden="true"></i>
        a(href="#").sign_up Sign up  
    div.header_second 
        div.first_ellipse
            img(src=require('./images/flowers1.jpg') alt="Flowers")
        div.section_second_ellipse
            svg(width="87" height="87" viewBox="0 0 87 87" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M43.5 0L46.7415 27.2037L60.1467 3.31124L52.7311 29.6847L74.2591 12.7409L57.3153 34.2689L83.6888 26.8533L59.7963 40.2585L87 43.5L59.7963 46.7415L83.6888 60.1467L57.3153 52.7311L74.2591 74.2591L52.7311 57.3153L60.1467 83.6888L46.7415 59.7963L43.5 87L40.2585 59.7963L26.8533 83.6888L34.2689 57.3153L12.7409 74.2591L29.6847 52.7311L3.31124 60.1467L27.2037 46.7415L0 43.5L27.2037 40.2585L3.31124 26.8533L29.6847 34.2689L12.7409 12.7409L34.2689 29.6847L26.8533 3.31124L40.2585 27.2037L43.5 0Z" fill="#FFA41C")
            div.second_ellipse
                img(src=require('./images/flowers2.jpeg') alt="Flowers")
        div.header_text
            div
                div.text_first_row
                    h1 
                        span Квіти
                    svg(width="100" height="60" viewBox="0 0 100 60" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(d="M75.0556 29.7222C75.0556 45.7561 58.4841 58.9444 37.7778 58.9444C17.0715 58.9444 0.5 45.7561 0.5 29.7222C0.5 13.6883 17.0715 0.5 37.7778 0.5C58.4841 0.5 75.0556 13.6883 75.0556 29.7222Z" stroke="#FF9200")
                        path(d="M81.1669 29.7222C81.1669 45.7561 64.5954 58.9444 43.8891 58.9444C23.1828 58.9444 6.61133 45.7561 6.61133 29.7222C6.61133 13.6883 23.1828 0.5 43.8891 0.5C64.5954 0.5 81.1669 13.6883 81.1669 29.7222Z" stroke="#FF9200")
                        path(d="M87.2777 29.7222C87.2777 45.7561 70.7063 58.9444 49.9999 58.9444C29.2936 58.9444 12.7222 45.7561 12.7222 29.7222C12.7222 13.6883 29.2936 0.5 49.9999 0.5C70.7063 0.5 87.2777 13.6883 87.2777 29.7222Z" stroke="#FF9200")
                        path(d="M93.3891 29.7222C93.3891 45.7561 76.8176 58.9444 56.1113 58.9444C35.405 58.9444 18.8335 45.7561 18.8335 29.7222C18.8335 13.6883 35.405 0.5 56.1113 0.5C76.8176 0.5 93.3891 13.6883 93.3891 29.7222Z" stroke="#FF9200")
                        path(d="M99.4999 29.7222C99.4999 45.7561 82.9284 58.9444 62.2221 58.9444C41.5158 58.9444 24.9443 45.7561 24.9443 29.7222C24.9443 13.6883 41.5158 0.5 62.2221 0.5C82.9284 0.5 99.4999 13.6883 99.4999 29.7222Z" stroke="#FF9200")
                div.text_first_row
                    h1   найкращий подарунок
                    div.blue_circle
            p Купи букет створений професійним флористом, з урахуванням усіх останніх тенденцій на ринку квітів  або створи власний букет, щоб виразити свої почуття.
            a(href="#").buy_now Купити зараз           