doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Flowers
    script(src="https://use.fontawesome.com/08c46a2805.js")
  body 
    include header.pug 
    include content.pug 
    include footer.pug
