@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,400;1,500&family=Spectral:wght@300&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant&display=swap");
// Кольори
$black: #0A0C14;
$gray: #545465;
$dark-gray:#2A2940;
$pink:#FFEEF1;
$orange:#FFA41C;
$red:#FE0000;
$white:#FFFFFF;
// Розміри
$width:1440px;
$header-hegth:740px;
$footer-heigth:786px;
$content-heigth:994px;
// Розміри шрифтів
$p-font-size: 18px;
$p-font-size-large: 20px;
$p-font-size-small: 16px;
$h1-font-size: 72px;
$h2-font-size:48px;
$h3-font-size: 24px;
// відступи
$margin:50px;
$margin-left:40px;
html {
  font-size: $p-font-size;
  color: $gray;
  background-color: $pink;
}
body
{
  max-width: 1440px;
  margin:auto;
  text-align: center;
 font-family: 'Noto Sans';
}
// Приклади до п'ятої лаби лаби
   a
   {
    color:$dark-gray;
   }
header,main,footer
{
  border:1px dashed $gray;
}
h1
{
  font-size: $h1-font-size;
  font-weight: bold;
   font-family: 'Cormorant Infant';
}
h2
{
  font-size: $h2-font-size;
 
}
header
{
  height: $header-hegth;
}
footer
{
  height: $footer-heigth;
  background-color: $black;
  color:$white;
}
main
{
  height: $content-heigth;
}
